<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-default">
        <h1>Upload Music</h1>
        <a href="/">Home</a>
    </nav>
    <div class="jumbotron">
        <!-- <form action="/uploads" method="post" enctype="multipart/form-data">
            <input type="file" name="upload">
            <br>
            <br>
            <button type="submit">Upload</button>
        </form> -->
        <form action="/uploads" method="post" enctype="multipart/form-data">
            <input type="text" name="url">
            <br>
            <br>
            <button type="submit">Upload</button>
        </form>
    </div>
    <div class="container-fluid">
        {% for i in l%}
        <div class="list-group">
            <audio controls  class="list-group-item">
                <source src="{{i}}" type="audio/mp3" autoplay>
            </audio>
        </div>
        {% endfor %}
    </div>
</body>
</html>
